<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Frutas</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let fruta of frutas" data-test="fruta-list-item" (click)="selected.emit(fruta)">
          <h3 matLine>{{fruta.name}}</h3>
          <p matLine>{{fruta.description}}</p>
          
  
          <button mat-icon-button (click)="deleted.emit(fruta); $event.stopImmediatePropagation()">
            <mat-icon *ngIf="!readonly">delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
